.row {
    --bs-gutter-x: 0;
}

.btn {
    margin: 10px;
    color: #fff;
}

.display-contents {
    display: inherit;
}

.default {
    background-color: #ffffff8c;
}

.danger {
    background-color: #ff3434;
}

.btn[disabled] {
    pointer-events: all;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.fade.in {
    opacity: 1;
}

.float {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

textarea {
    font-family: monospace;
}