.row {
    --bs-gutter-x: 0;
}

.btn {
    margin: 10px;
    color: #fff;
}

.display-contents {
    display: inherit;
}

.default {
    background-color: #ffffff8c;
}

.danger {
    background-color: #ff3434;
}