<div class="page col-md-12 main-panel">
    <ul class="nav nav-tabs nav-fill" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="char-tab" data-bs-toggle="tab"
                href="#characters" role="tab" aria-controls="char"
                aria-selected="true">
                Characters
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="mat-tab" data-bs-toggle="tab"   
                href="#materials" role="tab" aria-controls="mat" aria-selected="false"
                (click)="incrChange()">
                Materials
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="data-tab" data-bs-toggle="tab"   
                href="#data" role="tab" aria-controls="data" aria-selected="false"
                (click)="incrChange()">
                Data
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="characters" role="tabpanel" aria-labelledby="char-tab"
            class="tab-pane fade show active">
            <div class="button-container">
                <button type="button" title="Add character" data-bs-toggle="modal"
                    data-bs-target="#addCharacter">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
            <app-character *ngFor="let char of characters" [character]="char"
                [weaponData]="weaponData" [characterData]="charData"
                (deleteCharacter)="deleteCharacter($event)">
            </app-character>
        </div>
        <div id="materials" role="tabpanel" aria-labelledby="mat-tab"
            class="tab-pane fade">
            <app-mat-table [characters]="characters" [levelUpData]="levelUpData" 
                [ascensionData]="ascensionData" 
                [talentData]="talentData" [charData]="charData"
                [itemQualityData]="itemQualityData"
                [change]="change">
            </app-mat-table>
        </div>
        <div id="data" role="tabpanel" aria-labelledby="data-tab"
            class="tab-pane fade">
            <app-user-data [(characters)]="characters" [change]="change">
            </app-user-data>
        </div>
    </div>
    <app-footer></app-footer>
</div>

<div class="modal fade" id="addCharacter" tabindex="-1" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Add/Remove Characters</h5>
                <button type="button" data-bs-dismiss="modal"
                    aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-header">
                <form #charSelect="ngForm" class="full-width">
                    <input type="text" (keyup)="filterCharacters()" [(ngModel)]="charFilter"
                        [ngModelOptions]="{standalone: true}" class="input-filter"
                        placeholder="Filter characters...">
                </form>
            </div>
            <div class="modal-body modal-panel">
                <div class="modal-body-content">
                    <form>
                        <div class="list-group">
                            <label class="list-group-item" 
                                *ngFor="let character of filteredCharacters">
                                <input class="form-check-input me-1" type="checkbox" 
                                    (click)="addCharacter(character)" 
                                    [checked]="character.selected">
                                <span class="character-container">
                                    <div class="character-element">
                                        <img [src]="character.vision">
                                    </div>
                                    <div class="character-name">
                                        {{character.name}}
                                    </div>
                                </span>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>