.tab-content .tab-pane {
    padding-top: 20px;
}

.button-container {
    float: left;
    position: absolute;
    font-size: 40px;
    margin-top: 10px;
}

.button-container button {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    background: #363a3d;
    color: #fff;
    border: none;
}

.character-filter {
    width: calc(100% - 30px);
    margin: 0 15px;
}

.character-element, 
.character-name {
    display: inline-block;
}

.character-element {
    margin: 0 5px;
    position: relative;
    top: -2px;
}

.character-element img {
    width: 20px;
    height: 20px;
}

.list-group-item {
    background: none;
    color: #ffffff8c;
}

.form-check-input:checked {
    background-color: #ffffff8c;
    border-color: #ffffff8c;
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(255,255,255,.25);
}