<div class="col-md-12">
    <div class="page-title">
        <h1>Upgrade materials domain daily rotation</h1>
    </div>
    <form class="table-options">
        <div class="table-option">
            <div class="form-check form-switch">
                <label class="form-check-label" for="personalise">
                    Personalise
                </label>
                <input class="form-check-input" type="checkbox" id="personalise" 
                    [checked]="isPersonalised" (click)="togglePersonalise()">
            </div>
        </div>
    </form>
    <div class="day-row row">
        <div class="col-md-4 small-padding">
            <div class="section" [ngClass]="{'today': day.mon || day.thu}">
                <h3 class="table-header">Mon/Thu</h3>
            </div>
        </div>
        <div class="col-md-4 small-padding">
            <div class="section" [ngClass]="{'today': day.tue || day.fri}">
                <h3 class="table-header">Tue/Fri</h3>
            </div>
        </div>
        <div class="col-md-4 small-padding">
            <div class="section" [ngClass]="{'today': day.wed || day.sat}">
                <h3 class="table-header">Wed/Sat</h3>
            </div>
        </div>
    </div>
    <div class="weapon-row row">
        <div class="floating-title">
            <form>
                <fieldset>
                    <legend>
                        Weapon upgrade materials
                    </legend>
                </fieldset>
            </form>
        </div>
        <div class="col-md-4 small-padding">
            <div class="section" [ngClass]="{'today': day.mon || day.thu}">
                <div class="weapon-block" *ngIf="weapons.Decarabian.length > 0 ||
                    charWeapons.Decarabian.length > 0 ">
                    <h5>Decarabian</h5>
                    <div class="mat-row" *ngIf="weapons.Decarabian.length > 0">
                        <span *ngFor="let weapon of weapons.Decarabian">
                            <img [src]="weapon.path" [alt]="weapon.name" 
                                class="mat" [ngClass]="weapon.quality">
                        </span>
                    </div>
                    <div class="char-row" *ngIf="charWeapons.Decarabian.length > 0">
                        <span *ngFor="let char of charWeapons.Decarabian">
                            <img [src]="char.path" [alt]="char.name" [title]="char.name"
                                class="char">
                        </span>
                    </div>
                </div>
                <div class="weapon-block" *ngIf="weapons.Guyun.length > 0 ||
                    charWeapons.Guyun.length > 0 ">
                    <h5>Guyun</h5>
                    <div class="mat-row" *ngIf="weapons.Guyun.length > 0">
                        <span *ngFor="let weapon of weapons.Guyun">
                            <img [src]="weapon.path" [alt]="weapon.name" 
                                class="mat" [ngClass]="weapon.quality">
                        </span>
                    </div>
                    <div class="char-row" *ngIf="charWeapons.Guyun.length > 0">
                        <span *ngFor="let char of charWeapons.Guyun">
                            <img [src]="char.path" [alt]="char.name" [title]="char.name"
                                class="char">
                        </span>
                    </div>
                </div>
                <div class="weapon-block" *ngIf="weapons.Coral.length > 0 ||
                    charWeapons.Coral.length > 0 ">
                    <h5>Coral</h5>
                    <div class="mat-row" *ngIf="weapons.Coral.length > 0">
                        <span *ngFor="let weapon of weapons.Coral">
                            <img [src]="weapon.path" [alt]="weapon.name" 
                                class="mat" [ngClass]="weapon.quality">
                        </span>
                    </div>
                    <div class="char-row" *ngIf="charWeapons.Coral.length > 0">
                        <span *ngFor="let char of charWeapons.Coral">
                            <img [src]="char.path" [alt]="char.name" [title]="char.name"
                                class="char">
                        </span>
                    </div>
                </div>
                <div class="weapon-block" *ngIf="weapons.Talisman.length > 0 ||
                    charWeapons.Talisman.length > 0 ">
                    <h5>Talisman</h5>
                    <div class="mat-row" *ngIf="weapons.Talisman.length > 0">
                        <span *ngFor="let weapon of weapons.Talisman">
                            <img [src]="weapon.path" [alt]="weapon.name" 
                                class="mat" [ngClass]="weapon.quality">
                        </span>
                    </div>
                    <div class="char-row" *ngIf="charWeapons.Talisman.length > 0">
                        <span *ngFor="let char of charWeapons.Talisman">
                            <img [src]="char.path" [alt]="char.name" [title]="char.name"
                                class="char">
                        </span>
                    </div>
                </div>
                
                <div class="weapon-block" *ngIf="weapons.Chord.length > 0 ||
                    charWeapons.Chord.length > 0 ">
                    <h5>Chord</h5>
                    <div class="mat-row" *ngIf="weapons.Chord.length > 0">
                        <span *ngFor="let weapon of weapons.Chord">
                            <img [src]="weapon.path" [alt]="weapon.name" 
                                class="mat" [ngClass]="weapon.quality">
                        </span>
                    </div>
                    <div class="char-row" *ngIf="charWeapons.Chord.length > 0">
                        <span *ngFor="let char of charWeapons.Chord">
                            <img [src]="char.path" [alt]="char.name" [title]="char.name"
                                class="char">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 small-padding">
            <div class="section" [ngClass]="{'today': day.tue || day.fri}">
                <div class="weapon-block" *ngIf="weapons.Fang.length > 0 ||
                    charWeapons.Fang.length > 0 ">
                    <h5>Fang</h5>
                    <div class="mat-row" *ngIf="weapons.Fang.length > 0">
                        <span *ngFor="let weapon of weapons.Fang">
                            <img [src]="weapon.path" [alt]="weapon.name" 
                                class="mat" [ngClass]="weapon.quality">
                        </span>
                    </div>
                    <div class="char-row" *ngIf="charWeapons.Fang.length > 0">
                        <span *ngFor="let char of charWeapons.Fang">
                            <img [src]="char.path" [alt]="char.name" [title]="char.name"
                                class="char">
                        </span>
                    </div>
                </div>
                <div class="weapon-block" *ngIf="weapons.Dango.length > 0 ||
                    charWeapons.Dango.length > 0 ">
                    <h5>Dango</h5>
                    <div class="mat-row" *ngIf="weapons.Dango.length > 0">
                        <span *ngFor="let weapon of weapons.Dango">
                            <img [src]="weapon.path" [alt]="weapon.name" 
                                class="mat" [ngClass]="weapon.quality">
                        </span>
                    </div>
                    <div class="char-row" *ngIf="charWeapons.Dango.length > 0">
                        <span *ngFor="let char of charWeapons.Dango">
                            <img [src]="char.path" [alt]="char.name" [title]="char.name"
                                class="char">
                        </span>
                    </div>
                </div>
                <div class="weapon-block" *ngIf="weapons.Magatama.length > 0 ||
                    charWeapons.Magatama.length > 0 ">
                    <h5>Magatama</h5>
                    <div class="mat-row" *ngIf="weapons.Magatama.length > 0">
                        <span *ngFor="let weapon of weapons.Magatama">
                            <img [src]="weapon.path" [alt]="weapon.name" 
                                class="mat" [ngClass]="weapon.quality">
                        </span>
                    </div>
                    <div class="char-row" *ngIf="charWeapons.Magatama.length > 0">
                        <span *ngFor="let char of charWeapons.Magatama">
                            <img [src]="char.path" [alt]="char.name" [title]="char.name"
                                class="char">
                        </span>
                    </div>
                </div>
                <div class="weapon-block" *ngIf="weapons.Oasis.length > 0 ||
                    charWeapons.Oasis.length > 0 ">
                    <h5>Oasis</h5>
                    <div class="mat-row" *ngIf="weapons.Oasis.length > 0">
                        <span *ngFor="let weapon of weapons.Oasis">
                            <img [src]="weapon.path" [alt]="weapon.name" 
                                class="mat" [ngClass]="weapon.quality">
                        </span>
                    </div>
                    <div class="char-row" *ngIf="charWeapons.Oasis.length > 0">
                        <span *ngFor="let char of charWeapons.Oasis">
                            <img [src]="char.path" [alt]="char.name" [title]="char.name"
                                class="char">
                        </span>
                    </div>
                </div>
                <div class="weapon-block" *ngIf="weapons.Dewdrop.length > 0 ||
                    charWeapons.Dewdrop.length > 0 ">
                    <h5>Dewdrop</h5>
                    <div class="mat-row" *ngIf="weapons.Dewdrop.length > 0">
                        <span *ngFor="let weapon of weapons.Dewdrop">
                            <img [src]="weapon.path" [alt]="weapon.name" 
                                class="mat" [ngClass]="weapon.quality">
                        </span>
                    </div>
                    <div class="char-row" *ngIf="charWeapons.Dewdrop.length > 0">
                        <span *ngFor="let char of charWeapons.Dewdrop">
                            <img [src]="char.path" [alt]="char.name" [title]="char.name"
                                class="char">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 small-padding">
            <div class="section" [ngClass]="{'today': day.wed || day.sat}">
                <div class="weapon-block" *ngIf="weapons.Shackle.length > 0 ||
                    charWeapons.Shackle.length > 0 ">
                    <h5>Shackle</h5>
                    <div class="mat-row" *ngIf="weapons.Shackle.length > 0">
                        <span *ngFor="let weapon of weapons.Shackle">
                            <img [src]="weapon.path" [alt]="weapon.name" 
                                class="mat" [ngClass]="weapon.quality">
                        </span>
                    </div>
                    <div class="char-row" *ngIf="charWeapons.Shackle.length > 0">
                        <span *ngFor="let char of charWeapons.Shackle">
                            <img [src]="char.path" [alt]="char.name" [title]="char.name"
                                class="char">
                        </span>
                    </div>
                </div>
                <div class="weapon-block" *ngIf="weapons.Aerosiderite.length > 0 ||
                    charWeapons.Aerosiderite.length > 0 ">
                    <h5>Aerosiderite</h5>
                    <div class="mat-row" *ngIf="weapons.Aerosiderite.length > 0">
                        <span *ngFor="let weapon of weapons.Aerosiderite">
                            <img [src]="weapon.path" [alt]="weapon.name" 
                                class="mat" [ngClass]="weapon.quality">
                        </span>
                    </div>
                    <div class="char-row" *ngIf="charWeapons.Aerosiderite.length > 0">
                        <span *ngFor="let char of charWeapons.Aerosiderite">
                            <img [src]="char.path" [alt]="char.name" [title]="char.name"
                                class="char">
                        </span>
                    </div>
                </div>
                <div class="weapon-block" *ngIf="weapons.Mask.length > 0 ||
                    charWeapons.Mask.length > 0 ">
                    <h5>Mask</h5>
                    <div class="mat-row" *ngIf="weapons.Mask.length > 0">
                        <span *ngFor="let weapon of weapons.Mask">
                            <img [src]="weapon.path" [alt]="weapon.name" 
                                class="mat" [ngClass]="weapon.quality">
                        </span>
                    </div>
                    <div class="char-row" *ngIf="charWeapons.Mask.length > 0">
                        <span *ngFor="let char of charWeapons.Mask">
                            <img [src]="char.path" [alt]="char.name" [title]="char.name"
                                class="char">
                        </span>
                    </div>
                </div>
                <div class="weapon-block" *ngIf="weapons.Might.length > 0 ||
                    charWeapons.Might.length > 0 ">
                    <h5>Might</h5>
                    <div class="mat-row" *ngIf="weapons.Might.length > 0">
                        <span *ngFor="let weapon of weapons.Might">
                            <img [src]="weapon.path" [alt]="weapon.name" 
                                class="mat" [ngClass]="weapon.quality">
                        </span>
                    </div>
                    <div class="char-row" *ngIf="charWeapons.Might.length > 0">
                        <span *ngFor="let char of charWeapons.Might">
                            <img [src]="char.path" [alt]="char.name" [title]="char.name"
                                class="char">
                        </span>
                    </div>
                </div>
                <div class="weapon-block" *ngIf="weapons.Goblet.length > 0 ||
                    charWeapons.Goblet.length > 0 ">
                    <h5>Goblet</h5>
                    <div class="mat-row" *ngIf="weapons.Goblet.length > 0">
                        <span *ngFor="let weapon of weapons.Goblet">
                            <img [src]="weapon.path" [alt]="weapon.name" 
                                class="mat" [ngClass]="weapon.quality">
                        </span>
                    </div>
                    <div class="char-row" *ngIf="charWeapons.Goblet.length > 0">
                        <span *ngFor="let char of charWeapons.Goblet">
                            <img [src]="char.path" [alt]="char.name" [title]="char.name"
                                class="char">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="talent-row row">
        <div class="floating-title">
            <form>
                <fieldset>
                    <legend>
                        Talent upgrade materials
                    </legend>
                </fieldset>
            </form>
        </div>
        <div class="col-md-4 small-padding">
            <div class="section" [ngClass]="{'today': day.mon || day.thu}">
                <div class="char-block" *ngIf="talents.Freedom.length > 0">
                    <h5>Freedom</h5>
                    <div class="char-row">
                        <span *ngFor="let char of talents.Freedom">
                            <img [src]="char.path" [alt]="char.name" [title]="char.name"
                                class="char">
                        </span>
                    </div>
                </div>
                <div class="char-block" *ngIf="talents.Prosperity.length > 0">
                    <h5>Prosperity</h5>
                    <div class="char-row">
                        <span *ngFor="let char of talents.Prosperity">
                            <img [src]="char.path" [alt]="char.name" [title]="char.name"
                                class="char">
                        </span>
                    </div>
                </div>
                <div class="char-block" *ngIf="talents.Transience.length > 0">
                    <h5>Transience</h5>
                    <div class="char-row">
                        <span *ngFor="let char of talents.Transience">
                            <img [src]="char.path" [alt]="char.name" [title]="char.name"
                                class="char">
                        </span>
                    </div>
                </div>
                <div class="char-block" *ngIf="talents.Admonition.length > 0">
                    <h5>Admonition</h5>
                    <div class="char-row">
                        <span *ngFor="let char of talents.Admonition">
                            <img [src]="char.path" [alt]="char.name" [title]="char.name"
                                class="char">
                        </span>
                    </div>
                </div>
                <div class="char-block" *ngIf="talents.Equity.length > 0">
                    <h5>Equity</h5>
                    <div class="char-row">
                        <span *ngFor="let char of talents.Equity">
                            <img [src]="char.path" [alt]="char.name" [title]="char.name"
                                class="char">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 small-padding">
            <div class="section" [ngClass]="{'today': day.tue || day.fri}">
                <div class="char-block" *ngIf="talents.Resistance.length > 0">
                    <h5>Resistance</h5>
                    <div class="char-row">
                        <span *ngFor="let char of talents.Resistance">
                            <img [src]="char.path" [alt]="char.name" [title]="char.name"
                                class="char">
                        </span>
                    </div>
                </div>
                <div class="char-block" *ngIf="talents.Diligence.length > 0">
                    <h5>Diligence</h5>
                    <div class="char-row">
                        <span *ngFor="let char of talents.Diligence">
                            <img [src]="char.path" [alt]="char.name" [title]="char.name"
                                class="char">
                        </span>
                    </div>
                </div>
                <div class="char-block" *ngIf="talents.Elegance.length > 0">
                    <h5>Elegance</h5>
                    <div class="char-row">
                        <span *ngFor="let char of talents.Elegance">
                            <img [src]="char.path" [alt]="char.name" [title]="char.name"
                                class="char">
                        </span>
                    </div>
                </div>
                <div class="char-block" *ngIf="talents.Ingenuity.length > 0">
                    <h5>Ingenuity</h5>
                    <div class="char-row">
                        <span *ngFor="let char of talents.Ingenuity">
                            <img [src]="char.path" [alt]="char.name" [title]="char.name"
                                class="char">
                        </span>
                    </div>
                </div>
                <div class="char-block" *ngIf="talents.Justice.length > 0">
                    <h5>Justice</h5>
                    <div class="char-row">
                        <span *ngFor="let char of talents.Justice">
                            <img [src]="char.path" [alt]="char.name" [title]="char.name"
                                class="char">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 small-padding">
            <div class="section" [ngClass]="{'today': day.wed || day.sat}">
                <div class="char-block" *ngIf="talents.Ballad.length > 0">
                    <h5>Ballad</h5>
                    <div class="char-row">
                        <span *ngFor="let char of talents.Ballad">
                            <img [src]="char.path" [alt]="char.name" [title]="char.name"
                                class="char">
                        </span>
                    </div>
                </div>
                <div class="char-block" *ngIf="talents.Gold.length > 0">
                    <h5>Gold</h5>
                    <div class="char-row">
                        <span *ngFor="let char of talents.Gold">
                            <img [src]="char.path" [alt]="char.name" [title]="char.name"
                                class="char">
                        </span>
                    </div>
                </div>
                <div class="char-block" *ngIf="talents.Light.length > 0">
                    <h5>Light</h5>
                    <div class="char-row">
                        <span *ngFor="let char of talents.Light">
                            <img [src]="char.path" [alt]="char.name" [title]="char.name"
                                class="char">
                        </span>
                    </div>
                </div>
                <div class="char-block" *ngIf="talents.Praxis.length > 0">
                    <h5>Praxis</h5>
                    <div class="char-row">
                        <span *ngFor="let char of talents.Praxis">
                            <img [src]="char.path" [alt]="char.name" [title]="char.name"
                                class="char">
                        </span>
                    </div>
                </div>
                <div class="char-block" *ngIf="talents.Order.length > 0">
                    <h5>Order</h5>
                    <div class="char-row">
                        <span *ngFor="let char of talents.Order">
                            <img [src]="char.path" [alt]="char.name" [title]="char.name"
                                class="char">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>