.character {
    background-color: #212529;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 1rem;
}

.character-card {
    position: relative;
}

.controls {
    display: inline-block;
    position: absolute;
    padding: 0;
    left: 1rem;
    width: 25px;
}

.button-container {
    width: 25px;
    height: 25px;
    text-align: center;
}

.button-container button {
    color: #ffffff8c;
    padding: 2px;
    border: none;
    background: none;
}

.form-label {
    color: #ffffff8c;
    font-size: 0.8rem;
}

.form-control {
    color: #fff;
    background: none;
    border: none;
    transition: none;
    padding-left: 0;
    padding-right: 0;
}

.form-control:focus {
    box-shadow: none;
}

.portrait {
    max-width: 7em;
    max-height: 7em;
    cursor: pointer;
}

.stat-row {
    display: inline-block;
}