.options-container {
    height: 26px;
}

.items-row {
    display: inline-block;
}

.item-exp,
.item-gem,
.item-common-drop,
.item-boss-drop,
.item-domain,
.item-limited,
.item-local-specialty,
.weapon-exp,
.item-domain-drop {
    width: 50px;
}

.item-holder {
    height: 50px;
    width: 50px;
    position: relative;
    margin: 0 auto;
}

.item-single {
    max-height: 50px;
    max-width: 50px;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.item-qty {
    font-size: 0.8rem;
    white-space: nowrap;
}

tr:nth-child(even) {
    background: #2125298c;
}

.grey {
    background-image: radial-gradient(circle, rgba(256, 256, 256, 0.4), #7b827b);
}

.green {
    background-image: radial-gradient(circle, rgba(256, 256, 256, 0.4), #5a8a7e);
}

.blue {
    background-image: radial-gradient(circle, rgba(256, 256, 256, 0.4), #5a789a);
}

.purple {
    background-image: radial-gradient(circle, rgba(256, 256, 256, 0.4), #716798);
}

.gold {
    background-image: radial-gradient(circle, rgba(256, 256, 256, 0.4), #986426);
}

td .maxed {
    background-color: grey;
}

.form-check {
    padding-left: 0;
}

.form-switch {
    padding-left: 0;
}

label.form-check-label {
    float: left;
    margin-right: 0.5rem;
}

.form-switch .form-check-input {
    margin-right: 0;
}

.form-check .form-check-input {
    float: none;
    margin-left: 0;
}

.form-check-input:checked {
    background-color: #8f9091;
    border-color: #8f9091;
}

.form-check-input:focus {
    border-color: #8f9091;
    box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 0.25);
}

.weapon-size {
    width: 150% !important;
}
