<body class="dark">
    <div class="page col-md-12">
        <div class="top-logo">
            <a href="https://genshin.mihoyo.com">
                <img src="../../assets/logo.png" alt="Genshin Impact" class="genshin-logo"
                    title="Go to official Genshin Impact website">
            </a>
        </div>
        <div class="page-title">
            <h1>Upgrade materials domain daily rotation</h1>
        </div>
        <div class="day-row row">
            <div class="col-md-4 small-padding">
                <div class="section">
                    <h3 class="table-header">Mon/Thu</h3>
                </div>
            </div>
            <div class="col-md-4 small-padding">
                <div class="section">
                    <h3 class="table-header">Tue/Fri</h3>
                </div>
            </div>
            <div class="col-md-4 small-padding">
                <div class="section">
                    <h3 class="table-header">Wed/Sat</h3>
                </div>
            </div>
        </div>
        <div class="weapon-row row">
            <div class="floating-title">
                <form>
                    <fieldset>
                        <legend>
                            Weapon upgrade materials
                        </legend>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-4 small-padding">
                <div class="section">
                    <div class="weapon-block">
                        <div class="mat-row">
                            <img src="../../assets/weapon/Tile_of_Decarabian's_Tower.png" 
                                alt="Tile of Decarabian's Tower" class="mat green-mat">
                            <img src="../../assets/weapon/Debris_of_Decarabian's_City.png" 
                                alt="Debris of Decarabian's City" class="mat blue-mat">
                            <img src="../../assets/weapon/Fragment_of_Decarabian's_Epic.png" 
                                alt="Fragment of Decarabian's Epic" class="mat purple-mat">
                            <img src="../../assets/weapon/Scattered_Piece_of_Decarabian's_Dream.png" 
                                alt="Scattered Piece of Decarabian's Dream" class="mat gold-mat">
                        </div>
                        <h5>Decarabian</h5>
                    </div>
                    <div class="weapon-block">
                        <div class="mat-row">
                            <img src="../../assets/weapon/Luminous_Sands_from_Guyun.png" 
                                alt="Luminous Sands from Guyun" class="mat green-mat">
                            <img src="../../assets/weapon/Lustrous_Stone_from_Guyun.png" 
                                alt="Lustrous Stone from Guyun" class="mat blue-mat">
                            <img src="../../assets/weapon/Relic_from_Guyun.png" 
                                alt="Relic from Guyun" class="mat purple-mat">
                            <img src="../../assets/weapon/Divine_Body_from_Guyun.png" 
                                alt="Divine Body from Guyun" class="mat gold-mat">
                        </div>
                        <h5>Relic</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 small-padding">
                <div class="section">
                    <div class="weapon-block">
                        <div class="mat-row">
                            <img src="../../assets/weapon/Boreal_Wolf's_Milk_Tooth.png" 
                                alt="Boreal Wolf's Milk Tooth" class="mat green-mat">
                            <img src="../../assets/weapon/Boreal_Wolf's_Cracked_Tooth.png" 
                                alt="Boreal Wolf's Cracked Tooth" class="mat blue-mat">
                            <img src="../../assets/weapon/Boreal_Wolf's_Broken_Fang.png" 
                                alt="Boreal Wolf's Broken Fang" class="mat purple-mat">
                            <img src="../../assets/weapon/Boreal_Wolf's_Nostalgia.png" 
                                alt="Boreal Wolf's Nostalgia" class="mat gold-mat">
                        </div>
                        <h5>Fang</h5>
                    </div>
                    <div class="weapon-block">
                        <div class="mat-row">
                            <img src="../../assets/weapon/Mist_Veiled_Lead_Elixir.png" 
                                alt="Mist Veiled Lead Elixir" class="mat green-mat">
                            <img src="../../assets/weapon/Mist_Veiled_Mercury_Elixir.png" 
                                alt="Mist Veiled Mercury Elixir" class="mat blue-mat">
                            <img src="../../assets/weapon/Mist_Veiled_Gold_Elixir.png" 
                                alt="Mist Veiled Gold Elixir" class="mat purple-mat">
                            <img src="../../assets/weapon/Mist_Veiled_Primo_Elixir.png" 
                                alt="Mist Veiled Primo Elixir" class="mat gold-mat">
                        </div>
                        <h5>Dango</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 small-padding">
                <div class="section">
                    <div class="weapon-block">
                        <div class="mat-row">
                            <img src="../../assets/weapon/Fetters_of_the_Dandelion_Gladiator.png" 
                                alt="Fetters of the Dandelion Gladiator" class="mat green-mat">
                            <img src="../../assets/weapon/Chains_of_the_Dandelion_Gladiator.png" 
                                alt="Chains of the Dandelion Gladiator" class="mat blue-mat">
                            <img src="../../assets/weapon/Shackles_of_the_Dandelion_Gladiator.png" 
                                alt="Shackles of the Dandelion Gladiator" class="mat purple-mat">
                            <img src="../../assets/weapon/Dream_of_the_Dandelion_Gladiator.png" 
                                alt="Dream of the Dandelion Gladiator" class="mat gold-mat">
                        </div>
                        <h5>Shackle</h5>
                    </div>
                    <div class="weapon-block">
                        <div class="mat-row">
                            <img src="../../assets/weapon/Grain_of_Aerosiderite.png" 
                                alt="Grain of Aerosiderite" class="mat green-mat">
                            <img src="../../assets/weapon/Piece_of_Aerosiderite.png" 
                                alt="Piece of Aerosiderite" class="mat blue-mat">
                            <img src="../../assets/weapon/Bit_of_Aerosiderite.png" 
                                alt="Bit of Aerosiderite" class="mat purple-mat">
                            <img src="../../assets/weapon/Chunk_of_Aerosiderite.png" 
                                alt="Chunk of Aerosiderite" class="mat gold-mat">
                        </div>
                        <h5>Aerosiderite</h5>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="talent-row row">
            <div class="floating-title">
                <form>
                    <fieldset>
                        <legend>
                            Talent upgrade materials
                        </legend>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-4 small-padding">
                <div class="section">
                    <div class="char-block">
                        <div class="char-row">
                            <img src="../../assets/characters/Amber.png" 
                                alt="Amber" class="char">
                            <img src="../../assets/characters/Barbara.png" 
                                alt="Barbara" class="char">
                            <img src="../../assets/characters/Sucrose.png" 
                                alt="Sucrose" class="char">
                            <img src="../../assets/characters/Klee.png" 
                                alt="Klee" class="char">
                            <img src="../../assets/characters/Diona.png" 
                                alt="Diona" class="char">
                            <img src="../../assets/characters/Childe.png" 
                                alt="Childe" class="char">
                        </div>
                        <h5>Freedom</h5>
                    </div>
                    <div class="char-block">
                        <div class="char-row">
                            <img src="../../assets/characters/Ningguang.png" 
                                alt="Ningguang" class="char">
                            <img src="../../assets/characters/Qiqi.png" 
                                alt="Qiqi" class="char">
                            <img src="../../assets/characters/Keqing.png" 
                                alt="Keqing" class="char">
                            <img src="../../assets/characters/Xiao.png" 
                                alt="Xiao" class="char">
                        </div>
                        <h5>Prosperity</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 small-padding">
                <div class="section">
                    <div class="char-block">
                        <div class="char-row">
                            <img src="../../assets/characters/Noelle.png" 
                                alt="Noelle" class="char">
                            <img src="../../assets/characters/Bennett.png" 
                                alt="Bennett" class="char">
                            <img src="../../assets/characters/Razor.png" 
                                alt="Razor" class="char">
                            <img src="../../assets/characters/Diluc.png" 
                                alt="Diluc" class="char">
                            <img src="../../assets/characters/Jean.png" 
                                alt="Jean" class="char">
                            <img src="../../assets/characters/Mona.png" 
                                alt="Mona" class="char">
                        </div>
                        <h5>Resistance</h5>
                    </div>
                    <div class="char-block">
                        <div class="char-row">
                            <img src="../../assets/characters/Xiangling.png" 
                                alt="Xiangling" class="char">
                            <img src="../../assets/characters/Chongyun.png" 
                                alt="Chongyun" class="char">
                        </div>
                        <h5>Diligence</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 small-padding">
                <div class="section">
                    <div class="char-block">
                        <div class="char-row">
                            <img src="../../assets/characters/Fischl.png" 
                                alt="Fischl" class="char">
                            <img src="../../assets/characters/Kaeya.png" 
                                alt="Klee" class="char">
                            <img src="../../assets/characters/Lisa.png" 
                                alt="Lisa" class="char">
                            <img src="../../assets/characters/Venti.png" 
                                alt="Venti" class="char">
                        </div>
                        <h5>Ballad</h5>
                    </div>
                    <div class="char-block">
                        <div class="char-row">
                            <img src="../../assets/characters/Beidou.png" 
                                alt="Beidou" class="char">
                            <img src="../../assets/characters/Xingqiu.png" 
                                alt="Xingqiu" class="char">
                            <img src="../../assets/characters/Zhongli.png" 
                                alt="Zhongli" class="char">
                            <img src="../../assets/characters/Xinyan.png" 
                                alt="Xinyan" class="char">
                        </div>
                        <h5>Gold</h5>
                    </div>
                </div>
            </div>
        </div>
        <a href="https://github.com/Unknown008/genshin-mats" class="url">View on GitHub</a>
    </div>
</body>