.dark {
    background-color: #0D1117;
}

.page {
    text-align: center;
    color: #fff;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Arial", "Helvetica", "sans-serif";
    padding: 0 20px;
}

.genshin-logo {
    height: 50px;
}

.page-title {
    text-transform: uppercase;
    margin: 20px auto 10px;
}

.day-row {
    color: #5EB3BC;   
}

.small-padding {
    padding: 0 3px !important;
}

.section {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
}

.weapon-row .section {
    padding-top: 50px;
}

.floating-title {
    position: absolute;
    left: 0;
    margin: 0;
    padding: 20px 0 0 0;
}

.table-header {
    padding: 10px 0 0 0;
}

fieldset {
    border-width: 1px 0 0 0 !important;
    border-top: #fff solid !important;
}

legend {
    float: none !important;
    width: auto !important;
    padding: 0 20px !important;
}

.weapon-block {
    margin: 30px 20px 0;
    overflow: hidden;
    white-space: nowrap;
}

.mat-row {
    height: 120px;
}

.mat {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
    position: relative;
}

.green-mat {
    left: 12%;
}

.blue-mat {
    left: 4%;
}

.purple-mat {
    right: 4%;
}

.gold-mat {
    right: 12%;
}

.talent-row .section {
    padding-top: 50px;
}

.char-block {
    margin: 30px 20px 0;
}

.char {
    max-width: 70px;
    max-height: 70px;
    margin: 10px;
}

.char-row {
    height: 100%
}

.url {
    float: right;
    color: #fff;
    text-decoration: none;
}

.url:hover {
    text-decoration: underline;
    color: #fff
}