<div class="page col-md-12">
    <div class="page-title">
        <h1>Upgrade materials domain daily rotation</h1>
    </div>
    <div class="day-row row">
        <div class="col-md-4 small-padding">
            <div class="section">
                <h3 class="table-header">Mon/Thu</h3>
            </div>
        </div>
        <div class="col-md-4 small-padding">
            <div class="section">
                <h3 class="table-header">Tue/Fri</h3>
            </div>
        </div>
        <div class="col-md-4 small-padding">
            <div class="section">
                <h3 class="table-header">Wed/Sat</h3>
            </div>
        </div>
    </div>
    <div class="weapon-row row">
        <div class="floating-title">
            <form>
                <fieldset>
                    <legend>
                        Weapon upgrade materials
                    </legend>
                </fieldset>
            </form>
        </div>
        <div class="col-md-4 small-padding">
            <div class="section">
                <div class="weapon-block">
                    <div class="mat-row">
                        <span *ngFor="let weapon of weapons.Decarabian">
                            <img [src]="weapon.path" alt="weapon.name" 
                                class="mat" [ngClass]="weapon.quality">
                        </span>
                    </div>
                    <h5>Decarabian</h5>
                </div>
                <div class="weapon-block">
                    <div class="mat-row">
                        <span *ngFor="let weapon of weapons.Relic">
                            <img [src]="weapon.path" alt="weapon.name" 
                                class="mat" [ngClass]="weapon.quality">
                        </span>
                    </div>
                    <h5>Relic</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 small-padding">
            <div class="section">
                <div class="weapon-block">
                    <div class="mat-row">
                        <span *ngFor="let weapon of weapons.Fang">
                            <img [src]="weapon.path" alt="weapon.name" 
                                class="mat" [ngClass]="weapon.quality">
                        </span>
                    </div>
                    <h5>Fang</h5>
                </div>
                <div class="weapon-block">
                    <div class="mat-row">
                        <span *ngFor="let weapon of weapons.Dango">
                            <img [src]="weapon.path" alt="weapon.name" 
                                class="mat" [ngClass]="weapon.quality">
                        </span>
                    </div>
                    <h5>Dango</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 small-padding">
            <div class="section">
                <div class="weapon-block">
                    <div class="mat-row">
                        <span *ngFor="let weapon of weapons.Shackle">
                            <img [src]="weapon.path" alt="weapon.name" 
                                class="mat" [ngClass]="weapon.quality">
                        </span>
                    </div>
                    <h5>Shackle</h5>
                </div>
                <div class="weapon-block">
                    <div class="mat-row">
                        <span *ngFor="let weapon of weapons.Aerosiderite">
                            <img [src]="weapon.path" alt="weapon.name" 
                                class="mat" [ngClass]="weapon.quality">
                        </span>
                    </div>
                    <h5>Aerosiderite</h5>
                </div>
            </div>
        </div>
    </div>
    
    <div class="talent-row row">
        <div class="floating-title">
            <form>
                <fieldset>
                    <legend>
                        Talent upgrade materials
                    </legend>
                </fieldset>
            </form>
        </div>
        <div class="col-md-4 small-padding">
            <div class="section">
                <div class="char-block">
                    <div class="char-row">
                        <span *ngFor="let char of talents.Freedom">
                            <img [src]="char.path" alt="char.name" class="char">
                        </span>
                    </div>
                    <h5>Freedom</h5>
                </div>
                <div class="char-block">
                    <div class="char-row">
                        <span *ngFor="let char of talents.Prosperity">
                            <img [src]="char.path" alt="char.name" class="char">
                        </span>
                    </div>
                    <h5>Prosperity</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 small-padding">
            <div class="section">
                <div class="char-block">
                    <div class="char-row">
                        <span *ngFor="let char of talents.Resistance">
                            <img [src]="char.path" alt="char.name" class="char">
                        </span>
                    </div>
                    <h5>Resistance</h5>
                </div>
                <div class="char-block">
                    <div class="char-row">
                        <div class="char-row">
                            <span *ngFor="let char of talents.Diligence">
                                <img [src]="char.path" alt="char.name" class="char">
                            </span>
                        </div>
                    </div>
                    <h5>Diligence</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 small-padding">
            <div class="section">
                <div class="char-block">
                    <div class="char-row">
                        <div class="char-row">
                            <span *ngFor="let char of talents.Ballad">
                                <img [src]="char.path" alt="char.name" class="char">
                            </span>
                        </div>
                    </div>
                    <h5>Ballad</h5>
                </div>
                <div class="char-block">
                    <div class="char-row">
                        <div class="char-row">
                            <span *ngFor="let char of talents.Gold">
                                <img [src]="char.path" alt="char.name" class="char">
                            </span>
                        </div>
                    </div>
                    <h5>Gold</h5>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>