<div class="page col-md-12 main-panel">
    <div class="nav-container">
        <ul class="nav nav-tabs nav-fill" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="drops-tab" data-bs-toggle="tab"
                    href="#drops" role="tab" aria-controls="drops"
                    aria-selected="true" (click)="incrChange()">
                    Drops
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="char-tab" data-bs-toggle="tab"
                    href="#characters" role="tab" aria-controls="char"
                    aria-selected="true" (click)="incrChange()">
                    Characters
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="mat-tab" data-bs-toggle="tab"   
                    href="#materials" role="tab" aria-controls="mat" aria-selected="false"
                    (click)="incrChange()">
                    Materials
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="data-tab" data-bs-toggle="tab"   
                    href="#data" role="tab" aria-controls="data" aria-selected="false"
                    (click)="incrChange()">
                    Data
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="drops" role="tabpanel" aria-labelledby="data-tab"
            class="tab-pane fade show active">
            <app-drops [characters]="characters" [change]="change"></app-drops>
        </div>
        <div id="characters" role="tabpanel" aria-labelledby="char-tab"
            class="tab-pane fade">
            <div class="button-container">
                <button type="button" title="Add character" data-bs-toggle="modal"
                    data-bs-target="#addCharacter" class="d-block mb-3" (click)=loadCharData()>
                    <i class="fas fa-plus"></i>
                </button>
                <button type="button" title="Sort" data-bs-toggle="modal"
                    data-bs-target="#sortCharacter" class="d-block mb-3">
                    <i class="fas fa-sort-alpha-down"></i>
                </button>
            </div>
            <app-character *ngFor="let char of characters" [character]="char"
                [weaponData]="weaponData" [charData]="charData"
                (deleteCharacter)="deleteCharacter($event)" (setWeapon)="showWeapon($event)"
                (setCharacter)="showCharacter($event)">
            </app-character>
        </div>
        <div id="materials" role="tabpanel" aria-labelledby="mat-tab"
            class="tab-pane fade">
            <app-mat-table [characters]="characters" [weaponData]="weaponData"
                [levelUpData]="levelUpData" [ascensionData]="ascensionData" 
                [talentData]="talentData" [charData]="charData"
                [itemQualityData]="itemQualityData"
                [weaponLevelUpData]="weaponLevelUpData" 
                [weaponAscensionData]="weaponAscensionData" [change]="change">
            </app-mat-table>
        </div>
        <div id="data" role="tabpanel" aria-labelledby="data-tab"
            class="tab-pane fade">
            <app-user-data [(characters)]="characters" [charData]="charData"
                [weaponData]="weaponData" [change]="change">
            </app-user-data>
        </div>
    </div>
    <app-footer></app-footer>
</div>

<!-- Multi character modal -->
<div class="modal fade" id="addCharacter" tabindex="-1" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Add/Remove Characters</h5>
                <button type="button" data-bs-dismiss="modal"
                    aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-header">
                <form #charSelect="ngForm" class="full-width">
                    <input type="text" (keyup)="filterCharacters()" [(ngModel)]="charFilter"
                        [ngModelOptions]="{standalone: true}" class="input-filter"
                        placeholder="Filter characters...">
                </form>
            </div>
            <div class="modal-body modal-panel">
                <div class="modal-body-content">
                    <form>
                        <div class="list-group">
                            <label class="list-group-item" 
                                *ngFor="let character of filteredCharacters">
                                <input class="form-check-input me-1" type="checkbox" 
                                    (click)="addCharacter(character)" 
                                    [checked]="character.selected">
                                <span class="character-container">
                                    <div class="character-element d-inline-block">
                                        <img [src]="character.vision">
                                    </div>
                                    <div class="d-inline-block">
                                        {{character.name}}
                                    </div>
                                </span>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Single character modal -->
<div class="modal fade" id="chooseCharacter" tabindex="-1" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Change Character</h5>
                <button type="button" data-bs-dismiss="modal"
                    aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-header">
                <form #charSelect="ngForm" class="full-width">
                    <input type="text" (keyup)="filterPickCharacters()" 
                        [(ngModel)]="pickCharFilter"
                        [ngModelOptions]="{standalone: true}" class="input-filter"
                        placeholder="Filter characters...">
                </form>
            </div>
            <div class="modal-body modal-panel">
                <div class="modal-body-content">
                    <form>
                        <div class="list-group">
                            <label class="list-group-item" 
                                *ngFor="let character of filteredPickCharacters">
                                <input class="form-check-input me-1" type="radio" 
                                    (click)="changeCharacter(character.name)"
                                    [checked]="character.selected" 
                                    name="character">
                                <span class="character-container">
                                    <div class="character-element d-inline-block">
                                        <img [src]="character.vision">
                                    </div>
                                    <div class="d-inline-block">
                                        {{character.name}}
                                    </div>
                                </span>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Weapon modal -->
<div class="modal fade" id="chooseWeapon" tabindex="-1" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Choose Weapon</h5>
                <button type="button" data-bs-dismiss="modal"
                    aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-header">
                <form #charSelect="ngForm" class="full-width">
                    <input type="text" (keyup)="filterWeapons()" 
                        [(ngModel)]="weaponFilter" class="input-filter"
                        [ngModelOptions]="{standalone: true}" 
                        placeholder="Filter weapons...">
                </form>
            </div>
            <div class="modal-body modal-panel">
                <div class="modal-body-content">
                    <form>
                        <div class="list-group">
                            <label class="list-group-item" 
                                *ngFor="let weapon of filteredWeapons">
                                <input class="form-check-input me-1" type="radio" 
                                    name="weapon" (click)="changeWeapon(weapon.name)"
                                    [checked]="weapon.selected">
                                <span class="weapon-container">
                                    <div class="d-inline-block">
                                        {{weapon.name}}
                                    </div>
                                </span>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sort options modal -->
<div class="modal fade" id="sortCharacter" tabindex="-1" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Sort options</h5>
                <button type="button" data-bs-dismiss="modal"
                    aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body modal-panel">
                <div class="modal-body-content">
                    <form>
                        <div class="list-group">
                            <label class="list-group-item" 
                                *ngFor="let option of sortOptions">
                                <div class="d-inline-block nav-link"
                                    (click)="sortCharacters(option.label)">
                                    {{option.label}}
                                </div>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-loader *ngIf="loading"></app-loader>